@import "mixins";
@import "variables";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $bodyColor;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	h1 {
		align-self: center;
		font-weight: lighter;
		font-size: 190%;
		padding-left: 190px;
		&::first-letter {
			font-size: 130%;
			color: $firstLetterColor;
		}
	}
	div {
		position: absolute;
		left: 0;
		top: 0;
		height: inherit;
		@include GoldSechenie(width, true);
		background-color: $decorColor;
		&:hover {
				background-color: darken($firstLetterColor, $howDarken);
			}
	}
	@each $selector in $selectors {
		#{$selector} {
			transition: all 1s;
		}
	}
}
