header
	.container__header
		.logo

		.linkContainer
			each value in ['Home', 'Pages', 'Features', 'Extensions', 'Tutorials', 'Contact us']
				.linkToPages= value
					.onHover


		.socialLinks
			each val in ['facebook', 'twitter', 'skype', 'in']
				div(class = 'link link' + val)= val